body:global{
  background-color: #efefef;
}
.header{
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  .logo{
    display: flex;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
    }
    div{
      flex: 1;
      padding: 0 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.content{
  padding: 15px 20px;
}